/* * {
  margin: 0 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
header {
  background-color: rgba(218, 237, 226, 0.76);
  height: 100px;
  width: 100%;
}

.logoContent {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}
.logo {
  width: auto;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.title {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #ea2e49;
}

.loginContent {
  width: 30%;
  height: 100%;
  float: right;
  position: relative;
}
.loginBtn {
  text-decoration: none;
  position: absolute;
  top: 30%;
  left: 85%;
  width: 70px;
  transform: translate(-50%, -50%);
  border: 3px double #333745;
  background-color: #f6f792;
  padding: 5px;
  transition: background .2s;
  
}

.loginBtn:hover {
  background-color: #ea2e49;
}
.container {
  margin-top: 50px;
  width: 100%;
  height: 1000px;
  text-align: center;
}*/
.map{
  height: 400px;
  width: 100%;
}


/*
.formsContent {
  border-left-style: solid;
  border: 3px solid #343434;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
}
.inputsSearchRide {
  margin-right: 20px;
  padding: 4px;
  border: 1px solid #ea2e49;
  border-radius: 5px;
}
.buttons {
  padding: 4px;
  background-color: #77C4D3;
  border: 1px solid #ea2e49;
  color:#ea2e49;
  border-radius: 5px;
  transition: all .2s;
}
.buttons:hover{
  transform: scale(1.1);
}
.resultRidesContent{
margin-top: 50px;

}
table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #77C4D3;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #DAEDE2;
} */ 

/* AUTENTICATHION  */

/* .inputsLogin{
  padding: 4px;
  border: 1px solid #ea2e49;
  border-radius: 5px;
  margin: 5px;
}

.pageLinks{
  color: #ea2e49;
  text-decoration: underline solid;
}  */

/* DASHBOARD */

 /* ul {
  list-style-type: none;
  overflow: hidden;
  padding-top: 30px;
}

li {
float: left;
margin-left: 5px;
}

li a {
  display: block;
  color: #ea2e49;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all .2s;
  border:1px solid #ea2e49;
  border-radius: 10px;
}
li a:hover {
  background-color: #ea2e49;
  color: #09CAC9;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
}
.containerDashboard{
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  height: 700px;
}
.ridesDashboard{
  border: 2px solid #77C4D3;
  padding: 15px;
  margin-top: 10px;
}
.ridesDashboard button{
  margin-left: 86%;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.ridesDashboard section{
  margin-top: 0px;
}  */

/* RIDES */
/* .navRides ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(218, 237, 226, 0.76);
  border-top: 1px solid #ea2e49;
}

.navRides li {
  float: left;
}

.navRides li a {
  display: block;
  color: #343434;
  text-align: center;
  padding:10px;
  text-decoration: none;
  border-radius: 0px;
  border-color: transparent;
}

.navRides li a:hover:not(.active) {
  background-color: #77C4D3;
  border-radius: 0px;
  border-bottom: 1px solid #ea2e49;
}

.active {
  background-color: #ea2e49;
}

.containerRides{
  width: 50%;
  margin-left: 25%;
  border: 2px solid #343434;
  padding: 10px;
  float: left;
  height: auto;
}

.containerRides input{
  margin-left: 0px;
  
}

.containerRides textarea{
  margin-left: 0px;
}
.alignLeft{
  float: left;
  width: 30%;
}
.alignRight{
  float: right;
  width: 60%;
  margin-top: 72px;
}
.alignButtons{
  width: 100%;
  float: left;
}

.alignButtons button{
  margin-top: 15px;
 
  margin-left: 27%;
}

.alignDays{
  float: right;
  width: 70%;
}
.titleRides{
  margin: 30px;
}
.user{
  float: right;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
justify-content: space-between;
margin-right: 10px;

}
.imgUser{
  width: 50px;
  height: 50px;
}  */

/* FOOTER */
/* footer{
  background-color:rgba(218, 237, 226, 0.76);
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 99%;
  float: left;
  margin-top: 50px;
  
} */


